{% extends 'register/base.html' %}
{% block content %}
<br>
<br>

<a class="btn btn-success" href="{% url 'regdata_new' %}" class="top-menu">
<span class="glyphicon glyphicon-plus"></span>Tambah</a>

 <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Nama</th>
        <th>Email</th>
        <th>Tlp</th>
      </tr>
    </thead>
    <tbody>
	{% for regdata in regdatas %}
      <tr>
        <td>nama: {{ regdata.nama }}</td>
        <td>email : {{ regdata.email }}</td>
        <td>telpon : {{ regdata.tlp }}</td>
      </tr>
    
{% endfor %}
</tbody>
  </table>
  
{% endblock %}